.card-image {
  min-height: 250px;
  min-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numPosts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-date {
  margin-top: 2px;
  margin-bottom: 2px;
}

div.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card {
  width: 600px;
  display: flex;

  overflow: hidden;
  background: #fff 50%;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.02);
  transition: all .5s ease;

  cursor: pointer;
}

@media (max-width: 700px) {
  .card {
      width: 400px;
      margin: 15px;
      display: block;
  }
  .card-image {
    width: 400px;
    height: auto;
  }
}

.card:hover {
  box-shadow: 0 0 1px rgba(39,44,49,.3), 0 4px 18px rgba(39,44,49,.080);
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

h1, h2, h3, h4, p {
  margin: 0px;
}
